@use "../abstracts/" as *;

.rules-container {
  display: grid;
  place-items: center;
}

.rules {
  border: rem(2) solid var(--clr-neutral-500);
  border-radius: rem(10);

  color: var(--clr-neutral-100);
  text-transform: uppercase;

  background-color: transparent;

  padding-block: rem(10);
  padding-inline: rem(40);

  &:hover {
    background-color: var(--clr-neutral-500);
  }
}
